<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\mssqllocaldb;AttachDbFilename=|DataDirectory|EPiServerDB_4dd4b2cd.mdf;Initial Catalog=EPiServerDB_4dd4b2cd;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>