<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\mssqllocaldb;AttachDbFilename=|DataDirectory|EPiServerBase.mdf;Initial Catalog=EPiServerBase;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>